@import "../../../global/theme/theme";

button:focus{
  outline: none;
}

.toolbar-title{
  cursor: pointer;
}

.mat-toolbar.mat-primary {
  background: white !important;
  box-shadow: $header-box-shadow;
  color: #fff;
}

.mat-toolbar-single-row{
  padding: 0;
}
.mat-toolbar-single-row .col-md-6{
  padding: 0;
}

.mat-toolbar{
  height: $header-height;
  color: black !important;
  background: white !important;
}

::ng-deep.mat-list-item-content{
  padding: 0px 10px !important;
}

.col-md-6{
  text-align: right;
}

mat-nav-list.list-horizontal {
  padding: 0;
  /* margin-right: -15px; */
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

@media only screen and (min-device-width: 480px){
  .toolbar-title{
    margin-left: 20px;
  }
}

ul{
  padding-inline-start: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
}
