<mat-toolbar color="primary" class="">

  <div class="container">


    <mat-toolbar>
      <div fxShow fxHide.gt-sm>
        <button mat-icon-button (click)="navComponent.drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="col-md-6">

        <div class="row">
          <span class="toolbar-title no-outline" routerLink="/"> {{ APP_TOOLBAR_TITLE }} </span>

        </div>
      </div>

      <div class="col-md-6">
        <!--      <div style="width: 100%; " fxLayoutAlign="flex-end">-->

        <mat-nav-list class="list-horizontal" fxHide fxShow.gt-sm>

          <mat-list-item *ngFor="let item of navComponent.myWorkRoutes">
            <a
              routerLinkActive
              #routerLinkActiveInstance="routerLinkActive"
              [class.list-item-active]="routerLinkActiveInstance.isActive"
              href="{{item.route}}"
            >
<!--          [routerLink]="[item.route]"   -->
              {{item.title}}
            </a>
          </mat-list-item>


        </mat-nav-list>


        <!--        <span class="toolbar-title no-outline" routerLink="/"> </span>-->
        <!--      </div>-->
      </div>

    </mat-toolbar>


  </div>

</mat-toolbar>
