<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(screenWidth < 840) ? 'dialog' : 'navigation'"
               [mode]="(screenWidth < 840) ? 'over' : 'side'" [opened]="false"
               class="sidenav"
               fixedInViewport="true"
  >

    <div class="box no-select">

      <div class="row header">
        <mat-toolbar class="mat-header">
          <h3 class="masthead-brand"
          ><span class="navigation-title no-select" routerLink="/">Menu</span></h3>
        </mat-toolbar>
      </div>

      <div class="row content">
        <div class="mat-tree">
          <mat-nav-list>

            <h2 matSubheader> {{ 'Über mich' }} </h2>
            <a *ngFor="let item of myWorkRoutes"
               (click)="drawer.close()"
               mat-list-item
               routerLinkActive
               #routerLinkActiveInstance="routerLinkActive"
               [class.list-item-active]="routerLinkActiveInstance.isActive"
               href="{{item.route}}"
               >
<!--          [routerLink]="[item.route]"   -->
              <mat-icon matListIcon> {{ item.icon }} </mat-icon>
              {{item.title}}
            </a>

<!--            <mat-divider></mat-divider>-->

          </mat-nav-list>
        </div>
      </div>

      <div class="row footer no-select">

      </div>
    </div>


  </mat-sidenav>
  <mat-sidenav-content id="content">

    <div class="content-toolbar no-select" [ngClass]="{'large': !drawer.opened || (screenWidth < 840) }">
      <app-navigation-bar></app-navigation-bar>
    </div>

    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
