/**************   SCSS Application Variables    *************/


/******* Side Navigation ******/
$navigation-header: rgba(208, 208, 208, 0.75);
$navigation-width: 250px;
$navigation-transition: 0.19s;

/******* Top Navigation ******/
$header-height: 69px;
$header-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);


/*******  ******/
