<section class="about-me noselect" id="about-me">
  <div class="container">

    <div class="row flex-row-reverse">

      <div class="col-md-6 about-img-wrap">
        <div class="about-img">
          <img src="assets/color_code.jpeg" alt="" class="img-responsive">
        </div>
      </div>

      <div class="col-md-6">
        <div class="about-me slideInLeft">
          <div class="about-me-title">
            <h1 class="jumbotron-heading" style="font-size: 2em">Über mich</h1>
          </div>
          <div class="about-me-text">
            <div class="opacity-box">
              <p>Ich bin Daniel und studiere Wirtschaftsinformatik an der Uni Mannheim.</p>
            </div>
          </div>
          <div class="about-me-info">
            <p>
              <span class="span-title">Email</span>
              <span>daniel.kettemann@gmail.com</span>
            </p>
            <p>
              <span class="span-title">Addresse</span>
              <span>Fandelborn 8, 54296, Trier</span>
            </p>
            <p>
              <span class="span-title">Netzwerke</span>
              <span class="span-icons">
                <a href="https://stackoverflow.com/users/10198965/daniel-kettemann"
                   class="fa fa-stack-overflow fa-lg"></a>
                <a href="https://de.linkedin.com/in/daniel-kettemann" class="fa fa-linkedin fa-lg"></a>
                <a href="https://www.xing.com/profile/Daniel_Kettemann" class="fa fa-xing-square fa-lg"></a>

                </span>

            </p>
          </div>
          <div class="about-btns"><!--
              <mat-button-toggle class="about-btn contact-me"
              >Kontakt aufnehmen
              </mat-button-toggle>-->
            <!--              <a class="btn mat-button-style contact-me
            mat-button-toggle about-btn download-cv mat-button-toggle-standalone mat-button-toggle-appearance-standard"
                          >Kontakt</a>
                          <a class="btn mat-button-style download-btn
            mat-button-toggle about-btn download-cv mat-button-toggle-standalone mat-button-toggle-appearance-standard" href="assets/Lebenslauf_2019.pdf">Lebenslauf</a>-->

            <!--<mat-button-toggle class="mat-button-toggle about-btn download-cv"
            ><a class="download-btn" href="assets/Lebenslauf_2019.pdf">Lebenslauf herunterladen</a>
            </mat-button-toggle>-->
            <!--<iframe src="http://docs.google.com/gview?url=assets/Lebenslauf_2019.pdf&embedded=true"
                    style="width:600px; height:500px;" frameborder="0"></iframe>-->

          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<mat-divider></mat-divider>

<!--  ---  ---  Gegenwart  ---  ---  -->
<!--<section id="present" class="section align-left">-->
<!--  <div class="container">-->
<!--    <div class="row wave-bg">-->
<!--      <div class="col-md-4 slideInLeft present-text">-->
<!--        <div class="section-sidebar">-->
<!--          <h1 class="jumbotron-heading" style="font-size: 2em; margin-top: 10px">Gegenwart</h1>-->
<!--          <div class="about-me-text">-->
<!--            <div class="opacity-box">-->
<!--              <p style="margin-bottom: 0.5rem">Neben Studium und der Tätigkeit als Werkstudent arbeite ich zur Zeit an-->
<!--                Growfessional.</p>-->
<!--              <a href="#portfolio" style="color: #3374ff;">weitere Projekte...</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-8 right-box">-->
<!--        <div class="col-md-9 align-right">-->

<!--          <div *ngFor="let item of presentWork" class="card">-->
<!--            <div class="card-header">-->
<!--              <ul class="nav nav-tabs card-header-tabs">-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link active" href="#">Info</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                  <a class="nav-link" href="{{item.link}}">zur Webseite</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; thanks to free commercial use: https://unsplash.com/photos/pgSkeh0yl8o and https://unsplash.com/photos/8OyKWQgBsKQ &ndash;&gt;-->
<!--            <a href="{{item.link}}"><img class="card-img-top" src="{{item.imgPath}}" alt="Card image cap"> </a>-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">{{item.title}}</h5>-->
<!--              <p class="card-text">{{item.description}}</p>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--              <a *ngIf="item.code_link!=undefined" class="btn btn-primary" href="{{item.code_link}}">Zum Code</a>-->
<!--              <button *ngIf="item.code_link==undefined" class="btn btn-primary" disabled>Zum Code</button>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--<mat-divider></mat-divider>-->

<section id="experience" class="section align-left">
  <div class="container">
    <div class="row wave-bg">
      <div class="col-md-4 slideInLeft">
        <div class="section-sidebar">
          <h1 class="jumbotron-heading" style="font-size: 2em; margin-top: 10px">Berufserfahrung</h1>
          <div class="opacity-box">
            <p></p>
          </div>
        </div>
      </div>

      <div class="col-md-8 right-box">
        <div class="row zoomIn">
          <div class="col-md-12">
            <div class="about-row">
              <h4 class="about-tittle">Werksstudent Process Mining</h4>
              <p class="about-info">Software AG</p>
              <p>5/2019 — 9/2020; <span style="margin-left: 5px"> Saarbrücken, DE </span></p>
              <div class="opacity-box">
<!--                    <p>Werkstudent QM/CM</p>-->
<!--                <p>Aufgaben in der Testautomation, im Konfigurations- und Build Management sowie in allgemeinen-->
<!--                  Qualitäts-Themen für die Produkte Process Performance Manager und MashZone NextGen. </p>-->
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row zoomIn">
          <div class="col-md-12">
            <div class="about-row">
              <h4 class="about-tittle">Praktikant Projekt Management</h4>
              <p class="about-info">SSI Schäfer Automation GmbH</p>
              <p>9/2018 — 02/2019; <span style="margin-left: 5px"> Nashville, USA </span></p>
              <div class="opacity-box">
<!--                <p>Analyse und Betreuung betrieblicher Abläufe, Erstellen-->
<!--                  eines Warehouse Dashboard mit PL/SQL auf Basis eines JasperReports-->
<!--                  Linux Server.</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<mat-divider></mat-divider>

<!--  ---  ---  PORTFOLIO  ---  ---  -->
<section class="portfolio noselect" id="portfolio">
  <div class="container">
    <h1 class="jumbotron-heading" style="font-size: 2em; margin-top: 10px">Projekte</h1>
    <div class="card-deck">

      <div *ngFor="let item of myPortfolio_1" class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{item.link}}">zur Webseite</a>
            </li>
          </ul>
        </div>
        <!-- thanks to free commercial use: https://unsplash.com/photos/pgSkeh0yl8o and https://unsplash.com/photos/8OyKWQgBsKQ -->
        <a href="{{item.link}}"><img class="card-img-top" src="{{item.imgPath}}" alt="Card image cap"> </a>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
        </div>
        <div class="card-footer">
          <a *ngIf="item.code_link!=undefined" class="btn btn-primary" href="{{item.code_link}}">Zum Code</a>
          <button *ngIf="item.code_link==undefined" class="btn btn-primary" disabled>Zum Code</button>
        </div>
      </div>

    </div>
    <div class="card-deck">

      <!--      <div *ngFor="let item of myPortfolio_2" class="card">-->
      <!--        <div class="card-header">-->
      <!--          <ul class="nav nav-tabs card-header-tabs">-->
      <!--            <li class="nav-item">-->
      <!--              <a class="nav-link active" href="#">Info</a>-->
      <!--            </li>-->
      <!--            <li class="nav-item">-->
      <!--              <a class="nav-link" href="{{item.link}}">zur Webseite</a>-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </div>-->
      <!--        &lt;!&ndash; thanks to free commercial use: https://unsplash.com/photos/pgSkeh0yl8o and https://unsplash.com/photos/8OyKWQgBsKQ &ndash;&gt;-->
      <!--        <a href="{{item.link}}"><img class="card-img-top" src="{{item.imgPath}}" alt="Card image cap"> </a>-->
      <!--        <div class="card-body">-->
      <!--          <h5 class="card-title">{{item.title}}</h5>-->
      <!--          <p class="card-text">{{item.description}}</p>-->
      <!--        </div>-->
      <!--        <div class="card-footer">-->
      <!--          <a *ngIf="item.code_link!=undefined" class="btn btn-primary" href="{{item.code_link}}">Zum Code</a>-->
      <!--          <button *ngIf="item.code_link==undefined" class="btn btn-primary" disabled>Zum Code</button>-->
      <!--        </div>-->
      <!--      </div>-->

    </div>
  </div>
</section>

<!--<mat-divider></mat-divider>-->

<!--<section class="about-me noselect">
  <div class="container">
    <h1 class="jumbotron-heading" style="font-size: 2em; margin-top: 10px">Kontakt</h1>
  </div>
</section>-->

<section class="skills noselect align-left" id="skills">
  <div class="container">
    <div class="row wave-bg">
      <div class="col-md-4 slideInLeft">
        <div class="section-sidebar">
          <h1 class="jumbotron-heading" style="font-size: 2em; margin-top: 10px">Kenntnisse</h1>
          <div class="opacity-box">
            <p>Mit diesen Technologien habe ich schon gearbeitet.</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 zoomIn">
            <hr>
            <div class="advantages-box">
              <h4>Frontend Web Development</h4>
              <div class="opacity-box">
                <p>HTML, CSS, LESS, SASS, Bootstrap, JavaScript, TypeScript, JQuery, Angular.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 zoomIn">
            <hr>
            <div class="advantages-box">
              <h4>Backend Development</h4>
              <div class="opacity-box">
                <p>Node.js (Express), Java, PHP, MySQL, MongoDB, NGINX, Ubuntu.</p>
              </div>
            </div>
          </div>

<!--          <div class="col-md-6 zoomIn">-->
<!--            <hr>-->
<!--            <div class="advantages-box">-->
<!--              <h4>Web Content Management Systeme</h4>-->
<!--              <div class="opacity-box">-->
<!--                <p>Wordpress, Prestashop, Typo3</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 zoomIn">-->
<!--            <hr>-->
<!--            <div class="advantages-box">-->
<!--              <h4>Künstliche Intelligenz</h4>-->
<!--              <div class="opacity-box">-->
<!--                <p>Pytorch und OpenCV</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-6 zoomIn">-->
<!--            <hr>-->
<!--            <div class="advantages-box">-->
<!--              <h4>Configuration Management und Continuous Integration</h4>-->
<!--              <div class="opacity-box">-->
<!--                <p>Protractor, Gradle, Grunt, Docker, Kubernetes, Batch und Shell Scripting</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 zoomIn">-->
<!--            <hr>-->
<!--            <div class="advantages-box">-->
<!--              <h4>Allgemeines</h4>-->
<!--              <div class="opacity-box">-->
<!--                <p>VCS: Git und Perforce, die richtige Google Query finden</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
