
::ng-deep.mat-drawer-container {
  background-color: #fff !important;
}

section {
  padding: 1vh;
  margin-bottom: 6vh;
}

body {
  font-size: 16px;
  line-height: 1.56;
  font-family: "Roboto", sans-serif;
}

/* Portfolio Tiles */
.card {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.14);

}

/* Mat-Button-Style */

.mat-button-style {
  border-radius: 4px;
  line-height: 48px;
  display: inline-block;
  margin-left: 5px !important;
  padding: 12px !important;
  color: inherit;
  font: inherit;
  outline: 0;
  cursor: pointer;
  background-color: #efefef;
  border: solid 1px rgba(0, 0, 0, .12);
}

.contact-me {
  background-color: #2929a5 !important;
  color: #efefef !important;
}

.mat-button-style:hover {
  border-radius: 4px;
  line-height: 48px;
  display: inline-block;
  padding: 12px !important;
  color: inherit;
  font: inherit;
  outline: 0;
  cursor: pointer;
  background-color: #e2e2e2;
  border: solid 1px rgba(0, 0, 0, .12);
}

a.download-btn {
  color: black;
  text-decoration: none;
}


.nav-link {
  //color: #fff14b;
  color: #151552;
}

/* About me */
.row {
  //padding-top: 20px;
  //padding-bottom: 20px;
}

.col-md-6 {
  //padding: 5px;
}

.align-left {
  text-align: left;
}

.point {
  padding-top: 15px;
  text-align: center !important;
}

#about-me {
  padding-top: 3vh;
}

/* Skills */
#skills {
  padding-top: 0;
}

hr {
  margin: 0;
}

h1 {
  margin-top: 3vh;
}


h2 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-top: 5vh !important;
}

h4 {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-top: 3.5vh;
}

.jumbotron-heading, .card-title {
  text-align: center;
}

.jumbotron-heading {
  margin-top: 3vh !important;
}

.card-deck {
  margin-top: 4.5vh;
}

.present-text{
  padding-bottom: 25px;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  min-width: fit-content;
}

div.col-md-8.right-box {
  max-width: 400px;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.opacity-box {
  opacity: 0.8;
}

.align-right{
  float: right;
  padding-left: 4px;
  padding-right: 0;
}

@media only screen and (min-device-width: 480px) {

  section {
    padding-top: 2vh !important;
    padding-bottom: 2vh;
  }

  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .toolbar-title {
    margin-left: 20px;
  }

  .jumbotron-heading, .card-title {
    margin-top: 1vh !important;
    text-align: left;
  }

  .card-deck {
    margin-top: 1vh;
  }

  .point {
    padding-top: 0px;
    text-align: left;
  }

  .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .about-btns {
    text-align: center;
    margin: 0.5vh;
    margin-top: 45px;
  }

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.about-me-info {
  font-size: 14px;
  line-height: 1.4;
}

.span-title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  line-height: 1.66;
  float: left;
  display: block;
}

.span-title + span {
  display: block;
  padding-left: 90px;
  opacity: 0.8;
}

.span-title + .span-icons {
  opacity: 1.0;
}

.point {
  //text-align: center;
  width: 100%;
  margin-top: 0vh;
}

.span-title + span {
  display: block;
  padding-left: 90px;
  opacity: 0.8;
}

/* Font Awesome Icons*/
.fa {
  padding: 5px;
}

.about-me {
  text-align: left;
}

.portfolio {
  text-align: left;
}

.contact-me {
  background-color: #3333ff;
  color: #ffffff;
  margin-right: 2rem;
}

.contact-me:hover {
  background-color: rgba(48, 48, 239, 0.9);
}

.download-cv {
  background-color: #efefef;
}

.about-btn {
  margin: 0.5em;
}

.about-btns {
  text-align: center;
}

.about-img-wrap {
  float: right;

  .about-img {

    img {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
